<div class="login-wrapper">
  <div class="login-box">

    <h2>Imagine</h2>
    <h5>お気に入りの画像を投稿し、皆で共有し合いましょう。</h5>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.text_field :name, placeholder: "ユーザーネーム", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.password_field :password, placeholder: "パスワード（最低６文字以上入力してください）", autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "パスワードの再入力", autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    <% end %>

    <p>
      登録することで、Facebookの利用規約とプライバシーポリシーに同意するものとします。
    </p>

    <%= render "devise/shared/links" %>

  </div>

  <div class="sign-up-link-box">
    <%- if controller_name != 'sessions' %>
      <p>アカウントをお持ちですか？</p>
      <%= link_to "ログイン", new_session_path(resource_name), class: 'btn btn-default btn-lg btn-block' %><br />
    <% end -%>
  </div>

</div>
