<div class="login-wrapper">
  <div class="login-box">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: 'ユーザーネーム', class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワード', class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

  <div class="sign-up-link-box">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <p>アカウントをお持ちでないですか？</p>
      <%= link_to "新規登録", new_registration_path(resource_name), class: 'btn btn-default btn-lg btn-block' %><br />
    <% end -%>
  </div>
</div>
