<%= form_for(@picture, url: choose_new_or_edit) do |f| %>
	<%= f.error_messages! %>
	<div class="form-inline">
		<div class="form-group">
			<%= f.label :title, class: 'sr-only'%><br>
			<%= f.text_field :title, class: 'form-control', placeholder: 'タイトル' %>
		</div>
		<div class="form-group">
			<%= f.label :content, class: 'sr-only' %><br>
			<%= f.text_area :content, class: 'form-control', placeholder: '出来事', rows: 1, cols: 40 %>
		</div>
		<div class="actions">
			<%= link_to "キャンセル", pictures_path, class: 'btn btn-danger' %>
			<%= f.submit class: 'btn btn-default', value: "投稿する" %>
		</div>
	</div>
<% end %>
