<%= link_to '新規投稿', new_picture_path, class: 'btn btn-default btn-lg btn-block new-btn' %><br />

<div class="imagine-wrapper">
  <% @pictures.reverse_each do |picture| %>
    <div class="imagine-box">
      <div class="poster-wrapper">
        <%= profile_img(picture.user) if profile_img(picture.user) %>
        <h4 class=""><%= picture.user.name %></h4>
      </div>
      <div class="content-wrapper">
        <div>タイトル：<%= picture.title %></div>
        <div><%= picture.content %></div>
        <%= post_img(picture) %>
      </div>
      <div class="select-box">
        <%= link_to 'Edit', edit_picture_path(picture), class: 'btn btn-success' %>
        <%= link_to 'Destroy', picture, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-danger' %>
      </div>
    </div>
  <% end %>
</div>
