<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Imagine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
	<div class="container-fluid">
		<%= link_to "IMAGINE", root_path, class: 'pull-left' %>
		<% if user_signed_in? %>
			<%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: 'pull-right' %>
			<%= link_to 'ACCOUNT', edit_user_registration_path, class: 'pull-right' %>
		<% else %>
			<%= link_to 'LOGIN', new_user_session_path, class: 'pull-right'  %>
			<%= link_to 'SIGN-UP', new_user_registration_path, class: 'pull-right' %>
		<% end %>
	</div>
  <p class="flash bg-success"><%= notice %><%= alert %></p>
</header>

<%= yield %>

<footer>
  <div>
    © 2016 IMAGINE
  </div>
</footer>

</body>
</html>
